<div class="container marketing">
	
	<div class = "col-lg-7 col-offset-2">
		<h2 style = "text-align: center">Mission</h2>
		
		<blockquote><em>To yield research insights and assist decision-makers who confront the problems facing modern cities.</em></blockquote>

		<h2 style = "text-align: center">About</h2>
		<p>The Visualizing Urban Data Idealab (VUDlab) is a student-led organization formed at University of California-Berkeley in May 2013. It is a project of the <a href="http://blumcenter.berkeley.edu/">Blum Center for Developing Economies</a> <a href="http://bigideas.berkeley.edu/idealabs/">IdeaLabs</a> program.</p>
		<h3></h3>
		<p>The past decade has witnessed explosive growth in the world’s urban population alongside equally quick growth in digital record-keeping. The Visualizing Urban Data IdeaLab builds on both trends, to create a space where participants can learn and invent visual ways to clarify urban data. The IdeaLab hosts speakers, teaches software and computer languages, and encourages collaboration across departments on projects that exploit they Berkeley community's strengths in the social and information sciences. We are open to off-campus participation.
		<a href="https://twitter.com/vudlab" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @vudlab</a>
		</p>
	</div>
	
<div class = "col-lg-7 col-offset-2">
		<h2 style = "text-align: center">Officers</h2>

		<div class="row">
			<div class="col-lg-4">
				<img src="new/bootstrap/img/lehe.png" style="height: 200px;padding-right:20px;padding-bottom:20px;">
			</div>
			<div class="col-lg-5">
				<div class = "officers_text">

                    <h3>Lewis Lehe</h3>
					<p>President</p>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<img src="new/bootstrap/img/argote.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			</div>
			
			<div class = "col-lg-5">
				<div class = "officers_text">
			
					<h3>Juan Argote</h3>
					<p>Vice-President</p>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-4">
				<img src="new/bootstrap/img/taptich.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			

			</div>	
			<div class = "col-lg-5">
				<div class = "officers_text">
			
					<h3>Michael Taptich</h3>
					<p>Secretary</p>
				</div>
			</div>	
		</div>

		<div class = "row">
			<div class = "col-lg-4">
				<img src="new/bootstrap/img/doig.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			

			</div>	
			<div class = "col-lg-5">	
				<div class = "officers_text">
			
					<h3>Jean Doig</h3>
					<p>Treasurer</p>
				</div>
			</div>	
		</div>
</div>		
</div>	