<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Us</h1>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="imgs/urban.png">
    </div>
    <div class="col-md-8">
      <h2 style="text-align: center">Mission</h2>

      <blockquote>
        <em>To yield research insights and assist decision-makers who confront the problems facing modern cities.</em>
      </blockquote>

      <h2 style="text-align: center">About</h2>
      <p>The Visualizing Urban Data Idealab (VUDlab) is a student-led organization formed at University of California-Berkeley in May 2013. It is a project of the <a href="http://blumcenter.berkeley.edu/">Blum Center for Developing Economies</a>  <a href="http://bigideas.berkeley.edu/idealabs/">IdeaLabs</a> program.</p>
      <h3></h3>
      <p>The past decade has witnessed explosive growth in the world’s urban population alongside equally quick growth in digital record-keeping. The Visualizing Urban Data IdeaLab builds on both trends, to create a space where participants can learn and invent visual ways to clarify urban data. The IdeaLab hosts speakers, teaches software and computer languages, and encourages collaboration across departments on projects that exploit they Berkeley community's strengths in the social and information sciences. We are open to off-campus participation.
        <a href="https://twitter.com/vudlab" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @vudlab</a>
      </p>

      <h2 style="text-align: center">VUDLab Mentions</h2>
      <p>Whenever someone shines a light on VUDLab or an affiliate you will find a link right here. Did we miss one? <a href="mailto:main@vudlab.com?Subject=In%20the%20news!">Tell us.</a>
      </p>


      <p>
        <a href="http://blogs.kqed.org/newsfix/2013/10/17/data-visualization-BART-strike">Visualizing the Major Issues at the Heart of the BART Dispute - Kelly O'Mara (KQED)</a>
        <br>This one includes some dialogue with Victor Powell.
      </p>

      <p>
        <a href="http://www.thebolditalic.com/articles/3828-look-at-pretty-charts-to-help-you-deal-with-bartstrike-annoyance">Look At Pretty Charts To Help You Deal With #BARTstrike Annoyance - Sarah Han (The Bold Italic)</a>
      </p>

      <p>
        <a href="http://www.theatlanticcities.com/commute/2013/10/salaries-every-single-bart-employee-one-uncomfortable-picture/7216/"> The Salaries of Every Single BART Employee, in One Uncomfortable Picture - Emily Badger (The Atlantic Cities)</a>
      </p>

      <p>
        <a href="http://fremont.patch.com/groups/politics-and-elections/p/creative-views-of-bart-dispute-by-hackers_75368af4"> Creative Views of BART Dispute by Hackers - Zoneil Maharaj (Fremont Patch)</a>
      </p>

      <p>

      </p>
    </div>
  </div>

</div>


<!-- Team Member Profiles -->
<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header" align="center">Officers</h2>
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="imgs/lehe.png" style="height: 200px; width:200px">
      <h2>Lewis Lehe
        <small>President</small>
        </h3>
        <p>Lewis Lehe grew up near the cafe in the movie Fried Green Tomatoes. Now he is a Ph.D. student in Civil and Environmental Engineering at UC Berkeley, where he conducts research in electronic road pricing.</p>
        <!--<ul class="list-unstyled list-inline list-social-icons">
          <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        </ul>-->
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="imgs/argote.png">
      <h3>Juan Argote
        <small>Vice-President</small>
      </h3>
      <p>Juan is a Civil and Environmental Engineering PhD candidate focused in improving transit reliability. He is also the co-founder of VIA Analytics <a href="www.v-a.io">www.v-a.io</a>, a start-up that commercializes an innovative product to avoid bus bunching.</p>
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="imgs/taptich.png" style="height: 200px; width:200px">
      <h3>Mike Taptich
        <small>Secretary</small>
      </h3>
      <p>Mike Taptich is a PhD student in Civil and Environmental Engineering focused on lowering the life cycle energy and emissioms footprint of transportation systems. Mike also works part time at Automatic.com, a startup company that connects your car to your smartphone.</p>

    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="imgs/doig.png" style="height: 200px; width:200px">
      <h3>Jean Doig
        <small>Treasurer</small>
      </h3>
      <p>Jean Doig hails from Lima, Peru. He is a 3rd year PhD candidate in Civil Engineering.</p>

    </div>
  </div>
</div>
<!-- /.container -->
