<div class="container marketing">
	
	<div class = "col-lg-7 col-offset-2">
		<h2 style = "text-align: center">Mission</h2>
		
		<blockquote><em>To yield research insights and assist decision-makers who confront the problems facing modern cities.</em></blockquote>

		<h2 style = "text-align: center">About</h2>
		<p>The Visualizing Urban Data Idealab (VUDlab) is a student-led organization formed at University of California-Berkeley in May 2013. It is a project of the <a href="http://blumcenter.berkeley.edu/">Blum Center for Developing Economies</a> <a href="http://bigideas.berkeley.edu/idealabs/">IdeaLabs</a> program.</p>
		<h3></h3>
		<p>The past decade has witnessed explosive growth in the world’s urban population alongside equally quick growth in digital record-keeping. The Visualizing Urban Data IdeaLab builds on both trends, to create a space where participants can learn and invent visual ways to clarify urban data. The IdeaLab hosts speakers, teaches software and computer languages, and encourages collaboration across departments on projects that exploit they Berkeley community's strengths in the social and information sciences. We are open to off-campus participation.
		<a href="https://twitter.com/vudlab" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @vudlab</a>
		</p>
	</div>
	
<div class = "col-lg-7 col-offset-2">
		<h2 style = "text-align: center">Officers</h2>

		<div class="row">
			<div class="col-lg-4">
				<img src="new/bootstrap/img/lehe.png" style="height: 200px;padding-right:20px;padding-bottom:20px;">
			</div>
			<div class="col-lg-7">
				<div class = "officers_text">

                   <b><h4>Lewis Lehe</h4>
					<p>President</b>
					<br>Lewis Lehe grew up near the cafe in the movie Fried Green Tomatoes. Now he is a Ph.D. student in Civil and Environmental Engineering at UC Berkeley, where he conducts research in electronic road pricing.</p>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<img src="new/bootstrap/img/argote.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			</div>
			
			<div class = "col-lg-7">
				<div class = "officers_text">
			
					<b><h4>Juan Argote</h4>
					<p>Vice-President</b>
					<br>Juan is a Civil and Environmental Engineering PhD candidate focused in improving transit reliability. He is also the co-founder of VIA Analytics <a href="www.v-a.io">www.v-a.io</a>, a start-up that commercializes an innovative product to avoid bus bunching. </p>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-4">
				<img src="new/bootstrap/img/taptich.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			

			</div>	
			<div class = "col-lg-7">
				<div class = "officers_text">
			
					<b><h4>Michael Taptich</h4>
					<p>Secretary</b>
					<br>Mike Taptich is a PhD student in Civil and Environmental Engineering focused on lowering the life cycle energy and emissioms footprint of transportation systems. Mike also works part time at Automatic.com, a startup company that connects your car to your smartphone.</p>
				</div>
			</div>	
		</div>

		<div class = "row">
			<div class = "col-lg-4">
				<img src="new/bootstrap/img/doig.png" style="height: 200px;padding-right:20px;padding-bottom:20px;" >
			

			</div>	
			<div class = "col-lg-7">	
				<div class = "officers_text">
			
					<b><h4>Jean Doig</h4>
					<p>Treasurer</b>
					
				</div>
			</div>	
		</div>
</div>		
</div>	