<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Events
        <small>We have them. You should come!</small>
      </h1>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-9 col-offset-1">
      <h2>Brendan Nee of BlinkTag Inc</h2>
      <p>
        <strong>Where?</strong>Blum Hall lower level (B100)</p>
      <p>
        <strong>When?</strong>Thursday, December 5th, 5:30 PM</p>
      <img src="./new/bootstrap/img/brendan_nee.png" alt="">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=blum+center+berkeley&amp;ie=UTF8&amp;hq=blum+center&amp;hnear=Berkeley,+Alameda,+California&amp;ll=37.874884,-122.2591&amp;spn=0.006699,0.013239&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=11965562580347727185&amp;output=embed"></iframe>
      <br />
      <small><a href="https://maps.google.com/maps?q=blum+center+berkeley&amp;ie=UTF8&amp;hq=blum+center&amp;hnear=Berkeley,+Alameda,+California&amp;ll=37.874884,-122.2591&amp;spn=0.006699,0.013239&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=11965562580347727185&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a>
      </small>
    </div>

  </div>

</div>
<!-- /.container -->
