<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('imgs/sf-map-cropped.jpg');"></div>

      <div class="carousel-caption">
        <img id="logo2" src="imgs/vudlab.png">
        <h1>visualizing urban data idealab</h1>
        <h3 style="margin-top: 5px">UC-Berkeley</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a> -->
</div>

<div class="section">

  <div class="container">

    <div class="row">

      <div class="col-lg-6">
        <h2>
          <img src="imgs/newspaper.svg" style="height: 40px; width:40px">&emsp;News</h2>
        <p>We have <a href="http://youtu.be/7RL1JByOFE8">video</a> from our Brendan Nee event if you couldn't make it or just want to relive it.</p>
        <p>
          <strong>12/5:</strong>Brendan Nee, co-founder of <a href="http://blinktag.com/">BlinkTag Inc</a>, will be speaking at <b>5:30 PM</b> in <b>Blum Hall B100</b>. Learn more about this event over on our <a href="events.html">events page</a>.
          <p>
            <strong>11/11:</strong>Ian Johnson, Lewis Lehe, Victor Powell, and Shirley Wu will be presenting their BART strike visualizations - <a href="http://www.meetup.com/visualizemydata/events/146993282/">RSVP</a>.</p>
          <p>
            <strong>10/11:</strong>We hacked the BART strike - see the resulting visualizations <a href="http://enjalot.github.io/bart/">here</a>.</p>
          <p>
            <strong>10/2:</strong>Hack the BART Strike Hackathon at Skydeck in downtown Berkeley. Details <a href="http://www.meetup.com/Bay-Area-d3-User-Group/events/137541752/">here</a>.</p>
          <p>
            <strong>9/11:</strong>We kicked things off with a lecture by Ian Johnson, creator of <a href="http://tributary.io/">tributary</a> and organizer of the <a href="http://www.meetup.com/Bay-Area-d3-User-Group/">d3.bayarea()</a> meetup group.</p>
      </div>


      <div class="col-lg-6">
        <div>
          <h2>
            <img src="imgs/mortarboard.svg" style="height:40px; width: 40px">&emsp;Learn</h2>

          <p>Check out our '<a href="#/learn">course</a>,' a list of tutorials, examples and courses to teach d3.js.</p>
        </div>

        <div>
          <h2><i class="fa fa-heart"></i> &emsp;Workouts</h2>
          <p>Once you've got the basics, try a <a href="#/workouts">workout</a> to make your coding automatic. It's boring, but you'll get better faster, if not harder, stronger.</p>
        </div>

        <div>
          <h2><i class="fa fa-twitter"></i> &emsp;Contact</h2>
          <p>In the East Bay? Want to get involved? Shoot us an email or follow us on Twitter.</p>
          <a href="https://twitter.com/vudlab" class="twitter-follow-button" data-show-count="false">Follow @vudlab</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <p>main at vudlab dot com</p>
        </div>


      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">

      <div class="col-lg-12 text-center">
        <h2>Recent Work</h2>
        <hr>
      </div>

      <div class="col-lg-4">
        <a href="#/portfolio">
          <img class="img-responsive img-home-portfolio" src="imgs/waves.png">
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#/portfolio">
          <img class="img-responsive img-home-portfolio" src="imgs/stopbystop.png">
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#/portfolio">
          <img class="img-responsive img-home-portfolio" src="imgs/salaries.png">
        </a>
      </div>

      <!--<div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>-->
    </div>
    <!--row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->
