<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="new/bootstrap/img/urban.png" style="height: 200px" >
      <h2>Visualizing</h2>
      <p class="lead">Use JavaScript and R to render data for beauty and insight (and profit?).</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="new/bootstrap/img/beijing.png" style="height: 200px; width: 200px">
      <h2>Urban</h2>
      <p class="lead">Our goals:</p>
      <ul class="lead" style="position: relative; top: -20px;">
        <li>(a) improve urban policy choices </li>
        <li> (b) spread research about cities</li>
      </ul>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="new/bootstrap/img/data.png" style="height: 200px; width: 200px">
      <h2>Data</h2>
      <p class="lead">Our data show visualization is 70% parsing, 10% inspiration, and 20% <a href="http://stackoverflow.com/">StackOverflow</a>.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-4">
    <img src="new/bootstrap/img/newspaper.svg" style="height: 200px; width: 200px">
      <h2>News</h2>
        <div style="text-align: left; font-size: 18px">
        <p><strong>10/11:</strong> We hacked the BART strike - see the resulting visualizations <a href = "http://enjalot.github.io/bart/">here</a>.
        <p><strong>10/2:</strong> Hack the BART Strike Hackathon at Skydeck in downtown Berkeley. Details <a href="http://www.meetup.com/Bay-Area-d3-User-Group/events/137541752/">here</a>. </p>
        <p><strong>9/11:</strong> We kicked things off with a lecture by Ian Johnson, creator of <a href="http://tributary.io/">tributary</a> and organizer of the <a href="http://www.meetup.com/Bay-Area-d3-User-Group/">d3.bayarea()</a> meetup group.</p>
        </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <img src="new/bootstrap/img/barchart.svg" style="height: 200px; width: 200px">
      <h2>Projects</h2>
      <div style="text-align: left; font-size: 18px">
        <ul>
          <li><a href="http://vudlab.com/bart/"><strong>A look at BART ridership: Stop by Stop</strong></a><br>Lewis Lehe and Enjalot</li>
          <li><a href="http://blog.vctr.me/bart/"><strong>Salary of Every BART Employee</strong></a><br>Victor Powell</li>
          <li><a href="http://cleanshipping.appspot.com"><strong>Clean Shipping Visualization Collection</strong></a><br>Mike Taptich</li>
          <li><a href="http://vudlab.com/simpsons/"><strong>Simpson's Paradox Illustrated</strong></a><br>Lewis Lehe and Victor Powell</li>
          <li><a href="http://ray-mon.com/urbandatachallenge/"><strong>Transit and Equity</strong> </a> <br>Raymon Sutedjo-The and Sandra Lee</li>
          <li><a href="http://vudlab.com/fat-tails.html"><strong>Fat-tailed vs. Normal Distributions</strong></a><br>Lewis Lehe and Victor Powell</li>
          <li><strong><a href="http://vudlab.com/beartransit.html">Bear Transit Arrival Predictions</a></strong><br>Juan Argote and Jean Doig</li>
          <li><strong><a href="http://vudlab.com/TRB2014/carsharing.html">Flexible Carsharing</a></strong><br>Jean Doig and Jorge Barrios</li>
          <li><strong><a href="http://blog.vctr.me/posts/central-limit-theorem.html">Central Limit Theorem Visualized</a></strong><br>Victor Powell</li>
        </ul>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <img src="new/bootstrap/img/mortarboard.svg" style="height: 200px; width: 200px">

      <h2>Learn</h2>
      <p class="lead">Check out our slapdash '<a href="#/learn">course</a>,' a list of tutorials, examples and courses to teach you how to program in d3.js, and then try the <a href="#/workouts">workouts</a>. If you are good at R, please help us build one for ggplot.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- START THE FEATURETTES -->
  </div>

<script src="new/assets/js/holder.js"></script>
