<div class="container marketing">
	<div class = "col-lg-8 col-offset-1">
	<h2>VUDLab Mentions</h2>
	<p> Whenever someone shines a light on VUDLab or an affiliate you will find a link right here. Did we miss one? <a href="mailto:main@vudlab.com?Subject=In%20the%20news!">Let us know.</a></p>

	
	<p>
		<a href = "http://blogs.kqed.org/newsfix/2013/10/17/data-visualization-BART-strike">Visualizing the Major Issues at the Heart of the BART Dispute - Kelly O'Mara (KQED)</a>
		<br>This one includes some dialogue with Victor Powell.
	</p>

	<p>
		<a href = "http://www.thebolditalic.com/articles/3828-look-at-pretty-charts-to-help-you-deal-with-bartstrike-annoyance">Look At Pretty Charts To Help You Deal With #BARTstrike Annoyance - Sarah Han (The Bold Italic)</a>
	</p>

	<p>
		<a href = "http://www.theatlanticcities.com/commute/2013/10/salaries-every-single-bart-employee-one-uncomfortable-picture/7216/"> The Salaries of Every Single BART Employee, in One Uncomfortable Picture - Emily Badger (The Atlantic Cities)</a>
	</p>

	<p>
		<a href = "http://fremont.patch.com/groups/politics-and-elections/p/creative-views-of-bart-dispute-by-hackers_75368af4"> Creative Views of BART Dispute by Hackers - Zoneil Maharaj (Fremont Patch)</a>
	</p>

	<p>

	</p>
	<br>
	<br>
	</div>
</div>	