<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Portfolio
                <small>Work from our members and affiliates.</small>
            </h1>
        </div>

    </div>

    <!-- /.row -->

    <div class="row">

        <div class="col-md-4 portfolio-item">
            <a href="http://blogs.kqed.org/lowdown/2013/11/12/traffic-waves" target="_blank">
                <img class="img-responsive" src="imgs/waves.png">
            </a>
            <h3><a href="http://blogs.kqed.org/lowdown/2013/11/12/traffic-waves" target="_blank">What Are Traffic Waves and Why Do They Happen So Much?</a>
            </h3>
            <p>Visualization by Lewis Lehe, story by Matthew Green of KQED</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://vudlab.com/bart/" target="_blank">
                <img class="img-responsive" src="imgs/stopbystop.png">
            </a>
            <h3><a href="http://vudlab.com/bart/" target="_blank">A Look At BART Ridership: Stop By Stop</a>
            </h3>
            <p>Lewis Lehe and Ian Johnson</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://blog.vctr.me/bart/" target="_blank">
                <img class="img-responsive" src="imgs/salaries.png">
            </a>
            <h3><a href="http://blog.vctr.me/bart/" target="_blank">Salary of Every BART Employee</a>
            </h3>
            <p>Victor Powell</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 portfolio-item">
            <a href="http://cleanshipping.appspot.com/" target="_blank">
                <img class="img-responsive" src="imgs/cleanshipping.png">
            </a>
            <h3><a href="http://cleanshipping.appspot.com/" target="_blank">Clean Shipping Visualization Collection</a>
            </h3>
            <p>Mike Taptich</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://vudlab.com/simpsons/" target="_blank">
                <img class="img-responsive" src="imgs/paradox.png">
            </a>
            <h3><a href="http://vudlab.com/simpsons/" target="_blank">Simpson's Paradox Illustrated</a>
            </h3>
            <p>Lewis Lehe and Victor Powell</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://ray-mon.com/urbandatachallenge" target="_blank">
                <img class="img-responsive" src="imgs/transitequity.png">
            </a>
            <h3><a href="http://ray-mon.com/urbandatachallenge/" target="_blank">Transit and Equity</a>
            </h3>
            <p>Raymon Stedjo-The and Sandra Lee</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 portfolio-item">
            <a href="http://vudlab.com/fat-tails.html" target="_blank">
                <img class="img-responsive" src="imgs/distributions.png">
            </a>
            <h3><a href="http://vudlab.com/fat-tails.html" target="_blank">Fat-tailed vs Normal Distributions</a>
            </h3>
            <p>Lewis Lehe and Victor Powell</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://vudlab.com/beartransit.html" target="_blank">
                <img class="img-responsive" src="imgs/beartransit.png">
            </a>
            <h3><a href="http://vudlab.com/beartransit.html" target="_blank">Bear Transit Arrival Predictions</a>
            </h3>
            <p>Juan Argote and Jean Doig</p>
        </div>

        <div class="col-md-4 portfolio-item">
            <a href="http://vudlab.com/TRB2014/carsharing.html" target="_blank">
                <img class="img-responsive" src="imgs/carshare.png">
            </a>
            <h3><a href="http://vudlab.com/TRB2014/carsharing.html" target="_blank">Flexible Carsharing</a>
            </h3>
            <p>Jean Doig and Jorge Barrios</p>
        </div>

    </div>




   <!-- <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a>
                </li>
                <li class="active"><a href='views/portfolio.html'>1</a>
                </li>
               
                <li><a href="portfolio2.html">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>-->

</div>
<!-- /.container -->
