<script src="classybox/js/jquery.classybox.js"></script>
<script src="classybox/js/jwplayer.js"></script>
<script src="classybox/js/jwplayer.html5.js"></script>
<link rel="stylesheet" href="classybox/css/jquery.classybox.css" />


<div class="container">
	<div class = "col-lg-8 col-offset-1">
		<h2>Workouts</h2>
		<h4>Motivation</h4>
		<p>Guitar players don't think, "Now I put this finger here, and that finger there." The little things are automatic. Likewise, data vis will be frustrating until low-level tasks are automatic. So, we made these 'workouts' to code patterns into your brain.  The whole series is based on the <a href="http://enjalot.github.io/dot-enter/">Dot Enter</a> and <a href="http://enjalot.github.io/dot-append/">Dot Append</a> of <a>tutorial series</a> by enjalot.</p>

		<h4>Theory</h4>
		<p>The workouts imitate how humans build muscles:</p>

		<p><em>lift something outside comfort zone --> strain muscle --> eat protein --> rest --> muscle rebuilds muscle stronger</em>

		<p><em>try to code something from memory --> get confused --> look how it's done --> rest --> brain rewires to automate task</em></p>

		<h4>Instructions</h4>
		.forEach...
		<ol>
			<li>Look at the <strong>Target</strong>.</li>
			<li>Watch the <strong>Video</strong> (if there is one).</li>
			<li>Type the <strong>Answer Code</strong> line-by-line in your own tributary inlet (which you can make <a href="http://tributary.io/inlet/">here</a>.)</li>
			<li><strong>Walk away.</strong> Clear your mind.</li>
			<li>Starting from the <strong>Setup Code</strong>, try to approximately remake the Target from memory.</li>
			<li>Stuck? <strong>Peek</strong> at the Answer Code.</li>
			<li><strong>Repeat</strong> steps 4-6 until you've mastered the target.</li>
		</ol>




		<h4>The Main Event</h4>
		<table class="table-striped table">
		  <thead>
		    <tr>
			    <th>Target</th>
			    <th>Description</th>
		      <th>Video</th>
		      <th>Answer Code</th>
		      <th>Setup Code</th>
		    </tr>
		  </thead>
		  <tbody>
        <!-- three circles -->
        <tr>
    	    <!-- target -->
        	<td><img src="new/bootstrap/img/circles.png" alt=""></td>
        	<!-- description -->
        	<td>Three circles with numbers on them.</br> Also check out Mike Bostock's <a href="http://mbostock.github.io/d3/tutorial/circle.html">Three Little Circles</a> tutorial.</td>
        	<!-- video -->
          <td><a href="http://vimeo.com/49741439" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/5565405" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/6258892"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <!-- gradient -->
        <tr>
          <!-- target -->
          <td><img src="new/bootstrap/img/gradient2.png" alt=""></td>
          <!-- description -->
          <td>A row of rectangles colored to make a gradient between two colors.</td>
          <!-- video -->
          <td><a href="http://vimeo.com/49741435" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/5565447" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/6258888"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <!-- stacked bar chart -->
        <tr>
          <!-- target -->
          <td><img src="new/bootstrap/img/stacked.png" alt=""></td>
          <!-- description -->
          <td>A stacked bar chart</td>
          <!-- video -->
          <td><a href="http://vimeo.com/49974373" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/6264512" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/6264539"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <tr>
        <!-- clickpath -->
          <!-- target -->
          <td><img src="new/bootstrap/img/clickpath.png" alt=""></td>
          <!-- description -->
          <td>A simple path that extends to wherever you click.</td>
          <!-- video -->
          <td><a href="http://vimeo.com/49761329" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/5565480" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/5565482"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <!-- ball path -->
        <tr>
    	    <!-- target -->
        	<td><img src="new/bootstrap/img/ball.png" alt=""></td>
        	<!-- description -->
        	<td>When you click, a ball moves along a simple path.</td>
        	<!-- video -->
          <td><a href="http://vimeo.com/49761329" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/5630094" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/5565487"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <!-- An electron you can drag around a nucleus -->
        <tr>
    	    <!-- target -->
        	<td><img src="new/bootstrap/img/electron.png" alt=""></td>
        	<!-- description -->
        	<td>A little electron that the user can drag around a circle.</td>
        	<!-- video -->
          <td><a href="http://vimeo.com/55189467" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/5621566" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/6258737"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
        <!-- a bar chart created with crossfilter -->
        <tr>
    	    <!-- target -->
        	<td><img src="new/bootstrap/img/crossfilter.png" alt=""></td>
        	<!-- description -->
        	<td>A bar chart generated by crossfilter.js, a library for parsing data simply and quickly.</td>
        	<!-- video -->
          <td><a href="http://vimeo.com/55189134" class="showme"><i class="glyphicon glyphicon-film"></i></a></td> 
          <!-- answer -->
          <td><a href="http://tributary.io/inlet/4101924/" ><i class="glyphicon glyphicon-ok"></a></td>
          <!-- setup -->
          <td><a href="http://tributary.io/inlet/5560419"><i class="glyphicon glyphicon-wrench"></a></td>
        </tr>
		  </tbody>
		</table>

		<p>If you're really stuck, try the <a href="http://www.youtube.com/watch?v=FrNqSLPaZLc" target="_blank">Feynman Technique</a>.</p>

<script>
	$('.table a').attr("target","_blank");

	$(".showme").ClassyBox({
	    width: 800,
	    social: false
	});

</script>

<!-- todo: add video thumbnails later -->



	</div>
</div>