#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}

#OverlayCanvas {
}

.buses svg {
  pointer-events: none;
}

.buses circle {
  pointer-events: fill;
  fill: CornflowerBlue ;
  stroke: whitesmoke;
}

.buses .BusIcon {
  fill: whitesmoke;
}

.buses .BusStopDirection {
  fill: CornflowerBlue;
}

.stops svg {
  pointer-events: none;
}


.stops circle {
  pointer-events: fill;
  fill: grey;
  stroke: white;
}

#iwindow {
  pointer-events: none;
  position: fixed;
  bottom: 1cm;
  left: 35%;
  width: 30%;
  height: 6cm;
  text-align: center; 
  display: block;
  margin: auto;
}

#iwindow svg {
  pointer-events: none;
  position: absolute;
  top: -100px;
  left: -100px;
}

#iwindow circle {
  pointer-events: visible;
  fill: MidnightBlue;
  stroke: Gainsboro;
}

#iwindow path {
  pointer-events: visible;
}

#iwindow div {
  position: relative;
  pointer-events: visible;
  width: 100%;
  top: 0px;
  left: 0%;
  height: 100%;
  z-index: -1;
  text-align: center;
  font-family:Helvetica;
  border-radius: 10px;
  border:1px solid silver;
  background-color: whitesmoke;
  opacity: 0.85;
  

}

.BusStop {
  fill: GoldenRod;
}

.BusStopDirection {
  fill: silver;
}

#isubdiv {
  
 
}



.legend {
   pointer-events: none;
   position: fixed;
   right: 0.5cm;
   bottom: 1cm;
   width: 2cm;
   height: 6cm; 
   opacity: 0.85;
}

.leyend svg {
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}
.axis text {
  font-family:Helvetica;
}
