#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}


.buses svg {
  pointer-events: none;
}

.stops svg {
}

.buses circle {
  pointer-events: fill;
  fill:"red";
  stroke:"white";
  stroke-width:3;
}

.stops circle {
  pointer-events: fill;
  fill:"grey";
  stroke:"white";
  stroke-width:3;
}