.column-label { 
  text-anchor: middle;
  fill: #2C3E50;
  font-size: 1em;
}

.row-label { 
  text-anchor: middle;
  fill: #2C3E50;
  font-size: 1em;
}

.node{
  display: block;
}
.foci{
  /* uncomment out to show foci for debugging */
  display: none;
}

h1{
  text-align: center;
}

.lead{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron{
  margin-top: 20px;
  padding-bottom: 30px;
}

blockquote{
  background-color: #eee;
}

blockquote p{
  font-size: 15px;
  line-height: 20px;
  color: #2C3E50;
}

/*styles for the little line chart*/
.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
  fill: none;
  stroke: #2C3E50;
  shape-rendering: crispEdges;
}

.arc path {
  stroke: #fff;
}

.y-axis-force path,
.x-axis-force path {
  fill: none;
  stroke: #2C3E50;
  shape-rendering: crispEdges;
}
.x-axis-force .domain,
.y-axis-force .domain {
  stroke: none;
}

div.tooltip {   
  position: absolute;           
  pointer-events: none; 
  text-align: center;                            
   background: #67707F;
 background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
    -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  color:white;
}